[submodule "AntiPopup"]
	path = AntiPopup
	url = https://github.com/true-og/AntiPopup
[submodule "AreaShop"]
	path = AreaShop
	url = https://github.com/true-og/AreaShop
[submodule "BetterChairs"]
	path = BetterChairs
	url = https://github.com/true-og/BetterChairs
[submodule "Chunky"]
	path = Chunky
	url = https://github.com/true-og/Chunky
[submodule "EternalCombat"]
	path = EternalCombat
	url = https://github.com/true-og/EternalCombat
[submodule "FancyHolograms"]
	path = FancyHolograms
	url = https://github.com/true-og/FancyHolograms
[submodule "GameModeInventories"]
	path = GameModeInventories
	url = https://github.com/true-og/GameModeInventories
[submodule "InteractiveChat"]
	path = InteractiveChat
	url = https://github.com/true-og/InteractiveChat
[submodule "MiniPlaceholders"]
	path = MiniPlaceholders
	url = https://github.com/true-og/MiniPlaceholders
[submodule "Multiverse-Core"]
	path = Multiverse-Core
	url = https://github.com/true-og/Multiverse-Core
[submodule "Multiverse-Inventories"]
	path = Multiverse-Inventories
	url = https://github.com/true-og/Multiverse-Inventories
[submodule "Multiverse-SignPortals"]
	path = Multiverse-SignPortals
	url = https://github.com/true-og/Multiverse-SignPortals
[submodule "NoCheatPlus"]
	path = NoCheatPlus
	url = https://github.com/true-og/NoCheatPlus
[submodule "OpenInv"]
	path = OpenInv
	url = https://github.com/true-og/OpenInv
[submodule "ProtocolLib"]
	path = ProtocolLib
	url = https://github.com/true-og/ProtocolLib
[submodule "RayTraceAntiXray"]
	path = RayTraceAntiXray
	url = https://github.com/true-og/RayTraceAntiXray
[submodule "SimpleClans"]
	path = SimpleClans
	url = https://github.com/true-og/SimpleClans
[submodule "TabCompleteFilter"]
	path = TabCompleteFilter
	url = https://github.com/true-og/TabCompleteFilter
[submodule "TCPShield"]
	path = TCPShield
	url = https://github.com/true-og/TCPShield
[submodule "ViaBackwards"]
	path = ViaBackwards
	url = https://github.com/true-og/ViaBackwards
[submodule "ViaRewind"]
	path = ViaRewind
	url = https://github.com/true-og/ViaRewind
[submodule "ViaRewind-Legacy-Support"]
	path = ViaRewind-Legacy-Support
	url = https://github.com/true-og/ViaRewind-Legacy-Support
[submodule "ViaVersion"]
	path = ViaVersion
	url = https://github.com/true-og/ViaVersion
[submodule "VotingPlugin"]
	path = VotingPlugin
	url = https://github.com/true-og/VotingPlugin
[submodule "WorldEdit"]
	path = WorldEdit
	url = https://github.com/true-og/WorldEdit
[submodule "WorldEditSUI"]
	path = WorldEditSUI
	url = https://github.com/true-og/WorldEditSUI
[submodule "yamipa"]
	path = yamipa
	url = https://github.com/true-og/yamipa
[submodule "MiniPlaceholders-LuckPerms"]
	path = MiniPlaceholders-LuckPerms
	url = https://github.com/true-og/MiniPlaceholders-LuckPerms
[submodule "PlaceholderAPI"]
	path = PlaceholderAPI
	url = https://github.com/true-og/PlaceholderAPI/
[submodule "ChunkSpawnerLimiter"]
	path = ChunkSpawnerLimiter
	url = https://github.com/true-og/ChunkSpawnerLimiter
[submodule "EssentialsKitGUI"]
	path = EssentialsKitGUI
	url = https://github.com/true-og/EssentialsKitGUI
[submodule "AdvancedServerList"]
	path = AdvancedServerList
	url = https://github.com/true-og/AdvancedServerList
[submodule "BuildBattle"]
	path = BuildBattle
	url = https://github.com/true-og/BuildBattle
[submodule "Panilla"]
	path = Panilla
	url = https://github.com/true-og/Panilla
[submodule "TextGenerator"]
	path = TextGenerator
	url = https://github.com/true-og/TextGenerator
[submodule "Item-NBT-API"]
	path = Item-NBT-API
	url = https://github.com/true-og/Item-NBT-API
[submodule "ViaPotions"]
	path = ViaPotions
	url = https://github.com/true-og/ViaPotions
[submodule "AntiPieRay"]
	path = AntiPieRay
	url = https://github.com/true-og/AntiPieRay
[submodule "Maintenance"]
	path = Maintenance
	url = https://github.com/true-og/Maintenance
