[submodule "AreaShop"]
	path = AreaShop
	url = https://github.com/true-og/AreaShop
[submodule "Chunky"]
	path = Chunky
	url = https://github.com/true-og/Chunky
[submodule "EternalCombat"]
	path = EternalCombat
	url = https://github.com/true-og/EternalCombat
[submodule "MiniPlaceholders"]
	path = MiniPlaceholders
	url = https://github.com/true-og/MiniPlaceholders
[submodule "NoCheatPlus"]
	path = NoCheatPlus
	url = https://github.com/true-og/NoCheatPlus
[submodule "OpenInv"]
	path = OpenInv
	url = https://github.com/true-og/OpenInv
[submodule "ProtocolLib"]
	path = ProtocolLib
	url = https://github.com/true-og/ProtocolLib
[submodule "RayTraceAntiXray"]
	path = RayTraceAntiXray
	url = https://github.com/true-og/RayTraceAntiXray
[submodule "TabCompleteFilter"]
	path = TabCompleteFilter
	url = https://github.com/true-og/TabCompleteFilter
[submodule "TCPShield"]
	path = TCPShield
	url = https://github.com/true-og/TCPShield
[submodule "ViaBackwards"]
	path = ViaBackwards
	url = https://github.com/true-og/ViaBackwards
[submodule "ViaRewind"]
	path = ViaRewind
	url = https://github.com/true-og/ViaRewind
[submodule "ViaVersion"]
	path = ViaVersion
	url = https://github.com/true-og/ViaVersion
[submodule "VotingPlugin"]
	path = VotingPlugin
	url = https://github.com/true-og/VotingPlugin
[submodule "WorldEditSUI"]
	path = WorldEditSUI
	url = https://github.com/true-og/WorldEditSUI
[submodule "MiniPlaceholders-LuckPerms"]
	path = MiniPlaceholders-LuckPerms
	url = https://github.com/true-og/MiniPlaceholders-LuckPerms
[submodule "PlaceholderAPI"]
	path = PlaceholderAPI
	url = https://github.com/true-og/PlaceholderAPI
[submodule "TextGenerator"]
	path = TextGenerator
	url = https://github.com/true-og/TextGenerator
[submodule "Item-NBT-API"]
	path = Item-NBT-API
	url = https://github.com/true-og/Item-NBT-API
[submodule "Maintenance"]
	path = Maintenance
	url = https://github.com/true-og/Maintenance
[submodule "WorldGuard"]
	path = WorldGuard
	url = https://github.com/true-og/WorldGuard
[submodule "Vault"]
	path = Vault
	url = https://github.com/true-og/Vault
[submodule "AnnouncerPlus"]
	path = AnnouncerPlus
	url = https://github.com/true-og/AnnouncerPlus
[submodule "WorldEdit"]
	path = WorldEdit
	url = https://github.com/true-og/WorldEdit
[submodule "Distant-Horizons-Server"]
	path = Distant-Horizons-Server
	url = https://github.com/true-og/Distant-Horizons-Server
[submodule "ChatItem"]
	path = ChatItem
	url = https://github.com/true-og/ChatItem
[submodule "CraftingStore"]
	path = CraftingStore
	url = https://github.com/true-og/CraftingStore
[submodule "WaypointObfuscator"]
	path = WaypointObfuscator
	url = https://github.com/true-og/WaypointObfuscator
[submodule "LuckPerms"]
	path = LuckPerms
	url = https://github.com/true-og/LuckPerms
[submodule "ViaErrorHandler"]
	path = ViaErrorHandler
	url = https://github.com/true-og/ViaErrorHandler
[submodule "EndPortalEntityExitRelocate"]
	path = EndPortalEntityExitRelocate
	url = https://github.com/true-og/EndPortalEntityExitRelocate
[submodule "PlaceholderAdapter-Expansion"]
	path = PlaceholderAdapter-Expansion
	url = https://github.com/true-og/PlaceholderAdapter-Expansion
[submodule "LightningGrim"]
	path = LightningGrim
	url = https://github.com/true-og/LightningGrim
[submodule "PacketEvents"]
	path = PacketEvents
	url = https://github.com/true-og/PacketEvents
[submodule "OldCombatMechanics"]
	path = OldCombatMechanics
	url = https://github.com/true-og/OldCombatMechanics
[submodule "ImageFrame"]
	path = ImageFrame
	url = https://github.com/true-og/ImageFrame
[submodule "MyWorlds"]
	path = MyWorlds
	url = https://github.com/true-og/MyWorlds
[submodule "Essentials-PAPI"]
	path = Essentials-PAPI
	url = https://github.com/true-og/Essentials-PAPI
[submodule "BKCommonLib"]
	path = BKCommonLib
	url = https://github.com/true-og/BKCommonLib
[submodule "ViaRewind-Legacy-Support"]
	path = ViaRewind-Legacy-Support
	url = https://github.com/true-og/ViaRewind-Legacy-Support
[submodule "Statistics-PAPI"]
	path = Statistics-PAPI
	url = https://github.com/true-og/Statistics-PAPI
[submodule "BattleArena"]
	path = BattleArena
	url = https://github.com/true-og/BattleArena
